@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Readex+Pro&display=swap");

/* Body */
body {
  background-color: gray;
  font-family: "Readex Pro";
  font-size: 13px;
}

/* Navbar */
nav {
  font-family: "Readex Pro", sans-serif;
}

.nav-spaced-item {
  margin-left: 50px;
}

#navbar-title {
  font-size: 25px;
}

/* Main Container */
.content-con {
  background-color: white;
  border-radius: 15px;
  padding: 20px !important;
}

.custom-link {
  text-decoration: none;
  color: darkslategray;
  font-weight: 700;
}

.after-img-p {
  margin-top: 10px;
}

/* Swan */
#exampleUX {
  color: white;
  border-radius: 10px;
  padding: 20px;
}

#dummyConsole {
  color: greenyellow;
  border-radius: 10px;
  padding: 30px;
}
